@model MyWebBlog.DataModel.Email
@{
    ViewData["Title"] = "Home";
    <link href="~/css/home.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/font.css" rel="stylesheet" />
    <script src="~/js/homepage.js"></script>
}

<div class="scroll-container">
    <section class="overflow-hidden fullpage m-home">
        <div class="video-container desktop-video">
            <video playsinline autoplay muted loop id="bgvid">
                <source src="~/images/mylivewallpapers.com-Neon-Lines.mp4" type="video/mp4">
            </video>
        </div>
        <div class="video-container mobile-video">
            <video playsinline autoplay muted loop id="bgvid">
                <source src="~/images/MOBILE-Neon-Lines.mp4" type="video/mp4">
            </video>
        </div>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white navstyle">
            <div class="container-fluid">
                <a class="navbar-brand navcolor naviconbox" asp-area="" asp-controller="Home" asp-action="Index"> RYAN LEE  |  <img class="nameicon" src="~/images/mainpage/icon/idea2.png" /> </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse navtextstyle">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark navcolor" href="~/#aboutme">ABOUT ME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark navcolor" href="~/#project">PROJECTS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark navcolor" asp-area="" asp-controller="Blog" asp-action="Index">BLOG</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark navcolor" href="~/#contact">CONTACT</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="text-center mainbannerbox">
            <h1 class="mainbannerstyle mainbannertitle bebas-font">&lt;&gt; RYAN LEE &lt;/&gt;</h1>
            <h3 class="mainbannerstyle mainbannertext opensance-font">Full stack C# Developer</h3>
            <h3 class="mainbannerstyle mainbannertext opensance-font">based in Auckland</h3>
            <a class="bannerarrowbox" href="#aboutme">
                <h3 class="arrowtext opensance-font">FIND OUT MORE</h3>
                <img src="~/images/mainpage/down-arrow.png" class="arrowimg" />
            </a>
        </div>
    </section>
    <section class="fullpage aboutme center-box" id="aboutme">
        <div class="border-left-box-aboutme m-aboutme">
            <div class="width-40 float-left about-title-box">
                <h1 class="bebas-font abouttitle">About Me</h1>
                <h3 class="changetext mt5 opensance-font">I am a <span id="changing_text"></span></h3>
            </div>
            <div class="width-60 float-left about-title-box">
                <h3 class="opensance-font about-text-title">
                    I am a Full Stack Developer based in Auckland, New Zealand.
                </h3>
                <h4 class="opensance-font abouttext">
                    My professional experience includes HTML5/CSS3, C#, JavaScript(React.js, Node.js)
                </h4>
                <h4 class="opensance-font abouttext">
                    I enjoy being challenged and engaging with projects that require me to work outside my
                    comfort and knowledge set, as continuing to learn new languages and development
                    techniques are important to me and the success of my future career.
                </h4>
            </div>
        </div>
    </section>
    <section class="fullpage tech center-box">
        <div class="border-left-box-tech width-100">
            <div class="width-40 float-left about-title-box">
                <h1 class="bebas-font abouttitle">TECHNICAL SKILLS</h1>
            </div>
            <div class="width-60 float-left tech-title-box">
                <div class="fade">
                    <div class="techskillbox " id="language">
                        <h3 class="techtext"><img class="techicon" src="~/images/mainpage/techskill/Group 4.png" />PROGRAMMING LANGUAGE</h3>
                        <table class="width-90 ">
                            <thead>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.Languages)
                                {
                                    <tr>
                                        <td class="width-20">
                                            <p class="langtext">@item.Name</p>
                                        </td>
                                        <td>
                                            <div class="progress" data-width="@item.Score">
                                                <div class="@item.Score bar" data-name="@item.Score"></div>
                                            </div>

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="techskillbox">
                        <h3 class="techtext"><img class="techicon" src="~/images/mainpage/techskill/Group 5.png" />DATABASE</h3>
                        <table class="width-90 ">
                            <thead>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.Databases)
                                {
                                    <tr>
                                        <td class="width-20">
                                            <p class="langtext">@item.Name</p>
                                        </td>
                                        <td>
                                            <div class="progress" data-width="@item.Score">
                                                <div class="@item.Score bar" data-name="@item.Score"></div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="fullpage project " id="project">
        <div class="border-left-box-aboutme">
            <h1 class="bebas-font projecttitle">PROJECT</h1>
            <div class="project-item">
                <div class="width-60 float-left m-project-title-box">
                    <img class="Jslider width-100 fade1" lazy src="~/images/mainpage/portfolio/healthup.jpg" />
                    <img class="Jslider width-100 fade1" lazy src="~/images/mainpage/portfolio/m_healthup.jpg" />
                </div>
                <div class="width-40 float-left project-text-box opensance-font">
                    <h1 class="project-item-title">Health Up Limited</h1>
                    <div class="project-item-text">
                        <p>ASP.NET CORE framework</p>
                        <p>C#</p>
                        <p>Razor</p>
                        <p>Responsive CSS</p>
                        <p>Bootstrap</p>
                        <p>JavaScript</p>
                        <p>Entity Framework</p>
                        <p>MS SQL</p>
                    </div>
                    <div class="project-button-box">
                        <a class="project-button" href="https://www.healthup.co.nz" target="_blank">CLICK HERE TO VIEW</a>
                    </div>
                </div>
                <div class="width-60 float-left project-title-box">
                    <img class="slider width-100 fade1" lazy src="~/images/mainpage/portfolio/healthup.jpg" />
                    <img class="slider width-100 fade1" lazy src="~/images/mainpage/portfolio/m_healthup.jpg" />
                </div>
            </div>
            <div class="project-item">
                <div class="width-60 float-left m-project-title-box">
                    <img class="width-100" lazy src="~/images/mainpage/portfolio/cindy.jpg" />
                </div>
                <div class="width-40 float-left project-text-box opensance-font">
                    <h1 class="project-item-title">Cindy Jeon:</h1>
                    <h1 class="project-item-title">Stay Creative</h1>
                    <div class="project-item-text">
                        <p>React.js</p>
                        <p>HTML</p>
                        <p>CSS</p>
                        <p>JavaScript</p>
                        <p>Json (store file path)</p>
                        <p>Netlify (deploy)</p>
                    </div>
                    <div class="project-button-box">
                        <a class="project-button" href="https://www.cindyjeon.com" target="_blank">CLICK HERE TO VIEW</a>
                    </div>
                </div>
                <div class="width-60 float-left project-title-box">
                    <img class="width-100" lazy src="~/images/mainpage/portfolio/cindy.jpg" />
                </div>
            </div>
        </div>
    </div>
    <section class="fullpage contact center-box" id="contact">
        <div class="width-50 floatleft contact-box">
            <h1 class="bebas-font contact-title">Contact</h1>
            <div class="width-100 contact-detail-box">
                <h3 class="opensance-font font-weight-bold contact-name">Ryan Yoonkun Lee</h3>
                <h4 class="opensance-font contact-text"><strong>P:</strong> 021 035 0546</h4>
                <p4 class="opensance-font contact-text"><strong>E:</strong> ryan:yoonkun.lee@gmail.com</p4>
            </div>
            <a class="download-icon" href="~/Download/Ryan Lee Resume 2021.pdf" download="Ryan_Resume"><img class="width-15 icon-width" src="~/images/mainpage/icon/CV.png" /></a>
            <a class="download-icon" href="https://www.linkedin.com/in/yoonkun-ryan-lee/" target="_blank"><img class="width-15 icon-width" src="~/images/mainpage/icon/Linkedin.png" /></a>
            <a class="download-icon" href="https://github.com/RyanYoonkunLee" target="_blank"><img class="width-15 icon-width" src="~/images/mainpage/icon/github.png" /></a>
            <p class="copy">Copyright
            <script>document.write(new Date().getFullYear())</script> Ryan Lee</p>
        </div>
        <div class="width-50 floatleft email-form">
            @using (Html.BeginForm("SendEmail", "Home", FormMethod.Post))
            {
                @Html.LabelFor(m => m.Name, new { @class = "width-100 contact-text" })
                @Html.TextBoxFor(m => m.Name, new { @class = "width-90 contact-textbox" })
                @Html.LabelFor(m => m.SenderEmail, new { @class = "width-100 contact-text" })
                @Html.TextBoxFor(m => m.SenderEmail, new { @class = "width-90 contact-textbox" })
                @Html.LabelFor(m => m.Message, new { @class = "width-100 contact-text" })
                @Html.TextAreaFor(m => m.Message, new { @class = "width-90 contact-textbox", rows = "7" })
            }
            <button class="contact-button" type="submit">SEND</button>
        </div>
        <p class="m-copy">Copyright<script>document.write(new Date().getFullYear())</script> Ryan Lee</p>
    </section>
</div>