@model MyWebBlog.ViewModel.BlogDetailModel;
@{
    ViewData["Title"] = "BlogDetail";
}
<link href="~/css/BlogDetail.css" rel="stylesheet" />
<link href="~/css/prism.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />
<script src="~/js/blog.js"></script>

<div class="overflow-hidden">
    <div class="blogbackground">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white navstyle">
            <div class="container-fluid">
                <a class="navbar-brand navcolor naviconbox" asp-area="" asp-controller="Home" asp-action="Index"> RYAN LEE  |  <img class="nameicon" src="~/images/mainpage/icon/idea2.png" /> </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse navtextstyle">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark navcolor" href="~/#aboutme">ABOUT ME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark navcolor" href="~/#project">PROJECTS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark navcolor" asp-area="" asp-controller="Blog" asp-action="Index">BLOG</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark navcolor" href="~/#contact">CONTACT</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="title">
            <h6 class="titleDetail">@Model.Writer | @Model.Date</h6>
            <input class="titlelang" disabled id="imageSelect" value=@Model.Language />
            <h1>@Model.Title</h1>
        </div>
    </div>
    <div class="blogBody">
        @Html.Raw(Model.Body)
    </div>
</div>

<div class="recommendBox">
    <h3 class="textCenter">Recommend</h3>
    <div class="floatLeft">
        @if (Model.Previous.Title != null)
        {
            <div class="recommendBoxArrowMargin">
                <img class="floatLeft" src="~/images/left.png" style="width: 20px; height:20px;" />
                <h6 class="floatLeft">Previous</h6>
            </div>
            <div>
                <a href=@Url.Action("BlogDetail", "Blog", new { id = Model.Previous.Id })>
                    <img src="@Model.Previous.Thumbnail" class="imageFullSize" />
                    <div class="textDecorationNone">@Model.Previous.Title</div>
                </a>
            </div>
        }
    </div>
    <div class="floatRight giveWidth">
        @if (Model.Next.Title != null)
        {
            <div class="recommendBoxArrowMargin">
                <img class="floatRight" src="~/images/right.png" style="width:20px; height:20px;" />
                <h6 class="floatRight">Next</h6>
            </div>
            <div>
                <a href=@Url.Action("BlogDetail", "Blog", new { id = Model.Next.Id })>
                    <img src="@Model.Next.Thumbnail" class="imageFullSize " />
                    <div class="textDecorationNone">@Model.Next.Title</div>
                </a>
            </div>
        }
    </div>
</div>
<script src="~/js/prism.js"></script>
