@model List<MyWebBlog.ViewModel.BlogListViewModel>

@{
    ViewData["Title"] = "Index";
    <link href="~/css/BlogList.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />
}

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white navstyle">
    <div class="container-fluid">
        <a class="navbar-brand blognavcolor naviconbox" asp-area="" asp-controller="Home" asp-action="Index"> RYAN LEE  |  <img class="nameicon" src="~/images/mainpage/icon/idea2.png" /> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse navtextstyle">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class=" blognavcolor" id="home" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class=" blognavcolor blog" asp-area="" asp-controller="Blog" asp-action="Index">Blog</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="bloglist">
    <h1>&lt;&gt; My Blog &lt;/&gt;</h1>
    <h3>Ryan's Development Note</h3>
</div>

<a href='@Url.Action("BlogCreate","Blog")'>
    <input type="button" value="Create" />
</a>

@*<table>
        <thead>
            <tr>
                <td>Date</td>
                <td>Title</td>
                <td>Author</td>
                <td>Functions</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Date</td>
                    <td>@Html.ActionLink(item.Title, "BlogDetail", "Blog", new { id = item.Id })</td>
                    <td>@item.Author</td>
                    <td>
                        @Html.ActionLink("Update", "BlogUpdate", "Blog", new { id = item.Id })
                        @Html.ActionLink("Delete", "BlogDelete", "Blog", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>*@

@foreach (var item in Model)
{
    <div class="shadow blogBox">
        <a class="blogboxtext" href=@Url.Action("BlogDetail", "Blog", new { @id = item.Id })>
            <img src=@item.Thumbnail style="width: 100%; height: auto;">
            <p>@item.Author | @item.Date</p>
            <h3>@item.Title</h3>
        </a>
        <div>
            <a href=@Url.Action("BlogDetail", "Blog", new { @id = item.Id })>Read More</a>
        </div>
    </div>
}