
@{
    ViewData["Title"] = "Index";
}

<div class="p-5">
    <h1>Index</h1>
    <a href='@Url.Action("BlogCreate","Admin")'>
        <input type="button" value="Create" />
    </a>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <td scope="col">Date</td>
                <td scope="col">Title</td>
                <td scope="col">Author</td>
                <td scope="col">Functions</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td >@item.Date</td>
                    <td >@item.Title</td>
                    <td >@item.Author</td>
                    <td>
                        @Html.ActionLink("Update", "BlogUpdate", "Admin", new { id = item.Id })
                        @Html.ActionLink("Delete", "BlogDelete", "Admin", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
